body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color:white;
    padding: 15px 30px;
}

.menu{
    display: flex;
    gap:20px;
    list-style-type: none;
}

.menu li{
    cursor: pointer;
}

.menu li:hover{
    text-decoration: underline;
}

.cards{
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: space-around;
    div{
        background-color: #f4f4f4;
        border:1px solid gray;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
}

@media (max-width: 768px){
    .cards{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        gap:10px;
    }
}