form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 50px;
    width: 300px;
    border: 1px solid black;
    margin:auto;
    background-color: white;
    box-shadow: 5px 5px gray;

}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:green
}

h2{
    text-align: center;
}

button{
    margin-top: 15px;
    width: 100px;
    text-align: center;
    margin: auto;
}

form input{
    width: 150px;
    margin: auto;
    text-align: center;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.footer{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-style: italic; 

}

button:hover{
    background-color: gray;
}

body{
    background-color: gainsboro;
}